.main-container {
  text-align: center;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;

    .user-container {
      align-items: center;
      justify-content: center;
      text-align: center;

      .cl-user-button {
        margin-right: 5px;
      }
    }
  }
}
